body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
    height: 100vh;
    margin: 0;
    padding: 24px;
}


span{
    /* border: 1pt solid #000; */
    font-size: 1rem;
}
.parent {
    /* column-gap: 24px;     */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    align-self: center;
    /*    */
    width: fit-content;
    background-color: antiquewhite;
    padding: 28px 45px;
    border-radius: 23px;
    row-gap: 40px;
    flex-wrap: wrap;
    /* border: 1.26px solid #000; */

}

.transparent-text {
    font-size: 50px; /* Set the font size */
    font-weight: bold; /* Optional: Make the text bold */
    
}

h3{
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    /* height: fit-content; */
    color: rgba(255, 255, 255, 0.2); /* Fully transparent text */
    text-shadow: rgba(255, 0, 0);
    display: flex;
    /* border: 2px solid #000; */
    align-items: center;
    column-gap: 12px;

}

#btn_red{
    padding: 10px 24px;
    border-radius: 8px;
    color: aliceblue;
    max-width: 230px;
    background-color: red;
}


#btn_Blue{
    padding: 10px 24px;
    border-radius: 8px;
    background-color: blue;
    color: aliceblue;
}


#btn_Green{
    padding: 10px 24px;
    border-radius: 8px;        
    background-color: green;
    color: aliceblue;
}


#btn_Rndm{
    padding: 10px 24px;
    border-radius: 8px;    
    /* background-color: green; */
    /* color: aliceblue; */
}
