<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <!-- <link rel="stylesheet" href="golobolo/.hello.css"> -->
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <Header>Home</Header>
    <%= Alpha %>
</body>
</html>